# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Database files (if any)
*.db
*.sqlite3

# Logs and databases
*.log".env" 

# pdf
*.pdf

# tests
test_sample.md
instructor.md
fixme.md

# report
./report
report.*
简易社交网络平台后端核心模块实现.*
15-实验五.*
